/* Branchalytics.css */

/* Styling for the table of services */
.Bcss {
    display: flex;
    flex-direction: row;
    align-items: center; /* Horizontally center items */
    text-align: center; /* Center text content */
    /* Add additional styles as needed */
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center items */
    text-align: center; /* Center text content */
    /* Add additional styles as needed */
  }
  
.tableContainer {
  align-content: center;
    flex: 1;
    margin: 0 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .tableContainer table {
    width: 100%;
  }
  
  .tableContainer td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .tableContainer tr:last-child td {
    border-bottom: none;
  }
  
  /* Styling for the average rating box */
  .averageRatingBox {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin: 0 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .averageRatingTitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .averageRatingValue {
    font-size: 30px;
    font-weight: 600;
  }

  .fdd{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
  }
  
  /* Styles for the shared classes */
  .ftd {
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .featuredItem {
    flex: 1;
    margin: 0 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .featuredTitle {
    display: flex;
    font-size: 20px;
    align-items: center;
  }
  
  .featuredData {
    margin: 10px 30px;
    display: flex;
    align-items: center;
  }
  
  .dataValue {
    font-size: 30px;
    font-weight: 600;
  }
  
  .icon {
    font-size: 20px;
    margin-right: 8px;
  }
  
  .employeeIcon {
    color: blue;
  }
  